<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <% user.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>
  <div class="mb-6">
    <%= f.label :username, class: "block text-left mb-2" %>
    <%= f.text_field :username,
                 class:
                   "w-full px-3 py-2 block focus:ring-sky-100 ring-4 border ring-transparent focus:outline-none rounded" %>
  </div>
  <div class="mb-6">
    <%= f.label :email, class: "block text-left mb-2" %>
    <%= f.email_field :email,
                  class:
                    "w-full px-3 py-2 block focus:ring-sky-100 ring-4 border ring-transparent focus:outline-none rounded" %>
  </div>
  <%= f.submit class:
             "bg-emerald-600 text-white px-3 py-2 font-semibold rounded cursor-pointer" %>
<% end %>
